<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()"><mat-icon>menu</mat-icon></button>
  <span>{{title}}</span>
  <span class="app-toolbar-filler"></span>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>notifications</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Option 1</button>
  <button mat-menu-item>Option 2</button>
</mat-menu>
<div class="bodywrapper">
    <router-outlet></router-outlet>
</div>
