<form (ngSubmit)="resetPassword()">

  <mat-card class="container">
    <mat-card-title>
      Forgot Password
    </mat-card-title>
    <mat-form-field>
      <input matInput [(ngModel)]="credentials.email" placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-card-actions align="right">

      <button mat-raised-button  [disabled]="!isFormValid()">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
